body {
	background-color: lightpink;
}

h1 {
	text-align: center;
}

.wrap {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
  border: 5px solid #000;
  background: #efefef;
  border-spacing: 10px;
  position: relative;
  display: flex;
}
.col1,
.col2 {
  padding: 10px;
  text-align: justify;
  width: calc(50% + 220px);
}
p {
  padding: 5px;
  margin: 0 0 1em;
}
.col1:before,
.col2:before {
  float: right;
  width: 1px;
  height: 90px;
  content: " ";
}
.col2:before {
  float: left;
}
.img {
  float: right;
  clear: right;
  margin: 20px 0 20px 20px;
  border-radius: 50%;
  border: 10px solid #fff;
  shape-outside: circle(50%);
}
.col2 img {
  float: left;
  margin: 20px 20px 20px 0;
  clear: left;
}
.col1 .inner {
  margin-right: 220px;
}
.col2 .inner {
  margin-left: 220px;
}
.col2 {
  margin-left: -440px;
}

@media screen and (max-width: 800px) {
  .wrap {
    display: block;
  }
  .col2:before {
    display: none;
  }
  .col1,
  .col2,
  .col1 .inner,
  .col2 .inner {
    width: auto;
    margin: 0;
  }
  .col2 .img {
    display: none;
  }
  .img {
    width: 50%;
    height: auto;
    min-width: 100px;
  }
}

@media screen and (max-width: 480px) {
  .col1:before {
    display: none;
  }
}

.pink {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 30px 30px 30px 30px;
}

.flex-container {
	display: flex;
	flex-wrap: nowrap;
	background-color: darkgreen;
	justify-content: center;
}

.flex-container > div {
	background-color: whitesmoke;
	width: auto;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 1.5em;
	color: darkgreen;
}

.watermark {
	position: relative;
}

.watermark2 {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	left: 20px;
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	margin-left: -50px;
	margin-right: -50px;
}

.watermark3 {
	color: rgba(230, 242, 255, 0.5);
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;
	transform: rotate(-45deg);
	user-select: none;
	word-wrap: break-word;
}